body { margin: 0; }

.tg {
  border-collapse: collapse;
  border-spacing:0;
  margin: 0 auto;
}
.tg td {
  font-family:Arial, sans-serif;
  font-size:14px;
  padding:10px;
  border-style:solid;
  border-width:1px;
  overflow:hidden;
  word-break:normal;
}
.preload {
  display: none;
}

.pixel-container {
  border: 1px solid #CCC;
}

.pixel {
  width: 50px;
  height: 50px;
  position: absolute;
  border: 1px solid black;
}

.pixel-map {
  background: yellow;
}

.full-screen {
  text-align: center;
  border: 1px solid black;
  cursor: pointer;
}

.row {
  border-bottom: 1px solid #CCC;
  height: 20px;
}

.cell {
  border-left: 1px solid #CCC;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.ocean {
  background: #80bcc2;
}

.continent {
  background: #fce05d;
}
